#adds{
	position: relative;
	float: left;
	width: 10%;
	height: 95%;
	background-color: lightgreen;
}

#rooms{
	position: relative;
	float: left;
	width: 60%;
	height: 95%;
	background-color: lightgrey;
}

#community{
	position: relative;
	float: left;
	width: 30%;
	height: 95%;
	background-color: #000;
}

#playerlist{
	position: relative;
	width: 100%;
	height: 50%;
	padding: 1%;
	background-color: gold;
	overflow-y: scroll;
}

#chat{
	position: relative;
	width: 100%;
	height: 50%;
	background-color: #000;
}

#chat_screen{
	position: relative;
	width: 100%;
	height: 73%;
	margin-bottom: 1%;
	margin-top: 1%;
	background-color: #fff;
	padding: 1%;
	overflow-y: scroll;
}

#chat_screen ul, #playerlist ul{
	margin: 0px;
	padding: 0px;
}

#chat_field{
	position: relative;
	width: 100%;
	height: 25%;
}

#chat_textarea{
	position: relative;
	width: 100%;
	height: 100%;
}