input{
	width: 60% !important;
	margin: auto;
}

#center-form{
	position: relative;
	width: 40%;
	height: 65%;
	background-color: #fff;
	margin: auto;
	margin-top:8%;
}

#welcome-message{
	height: 25%;
}
#login-form{
	text-align: center;
	height: 50%;
}
#login-social{
	height: 25%;
	text-align: center;
}

.login-row{
	position: relative;
	width: 100%;	
	border-bottom: 1px solid black;
}