input{
	width: 60% !important;
	margin: auto;
}

#center-form{
	position: relative;
	width: 40%;
	height: 65%;
	min-height: 500px;
	background-color: #fff;
	margin: auto;
	margin-top:8%;
}

#welcome-message{
	height: 10%;
}
#register-form{
	text-align: center;
	height: 79%;
}
#register-social{
	height: 10%;
}

.register-row{
	position: relative;
	width: 100%;	
	border-bottom: 1px solid black;
}